*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    /* font-size: 10px; */
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}

/* Scroll-bar-start */
/* width */
::-webkit-scrollbar {
    width: .4rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Scroll-bar-end */

